.navbar {
  position: sticky;
  top: 0;
  background: black;
  font-size: 15px;
}
.navbar button {
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  width: 100px;
  height: 30px;
  margin: 0 0 20px 0;
  border: 1px white solid;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0 5px 30px 2px rgb(47, 132, 201);
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: aquamarine;
  font-size: 30px;
  margin: 12px 0;
}
.logo span {
  color: white;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(43, 127, 116);
}
nav ul li a:hover {
  border-bottom: 2px solid rgb(211, 47, 85);
  text-transform: uppercase;
}

.black-coloured-card {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
.black-coloured-card a {
  color: white;
}

.white-coloured-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  color: black;
  opacity: 1;
}
.white-coloured-card a {
  color: black;
}

.car-card {
  align-items: center;
  width: 80%;
  min-height: 30%;
  border: 2px solid black;
  border-radius: 14px;
  margin: 10% auto;
}

.car-card a {
  text-decoration: none;
}

.car-card div {
  width: 80%;
  font-weight: 500;
  padding: 5px;
  font-size: 14px;
}
.car-card img {
  border-radius: 14px;
}
.master-container {
  background-color: black;
  background-image: url(./images/header-img.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
}
.car-page-container {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 20px;
}
.car-page-container h1 {
  margin: 30px 0;
}
.car-models {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.model {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin: 15px;
  align-items: center;
  padding: 10px 0;
  width: 40%;
}
.details-company {
  padding: 20px 40px;
}
.official-web {
  margin: 10px 0px 30px 0;
}
.official-web a {
  color: white;
}
.model a {
  text-decoration: none;
  padding-top: 7px;
  color: white;
}

@media screen and (min-width: 1024px) {
  nav div {
    flex-direction: row;
  }
  nav {
    flex-direction: row;
  }
  .navbar {
    font-size: 20px;
  }
  .navbar button {
    margin: 0 0 0 40px;
  }
  .car-card {
    width: 50%;
    margin: 5% auto;
  }
  .car-card div {
    width: 60%;
    font-weight: bold;
    padding: 20px;
  }
  .black-coloured-card,
  .white-coloured-card {
    flex-direction: row;
  }
  .model {
    width: 30%;
  }
}
